.body {
    font-family: Arial, sans-serif;
    background-color:  #f4f4f4; /* light gray background
    display: flex
    justify-content: center;
    aligh-items: center;
    height: 100vh; /* full viewpoint height */
    margin: 0;

}

/* Main Container for the login form */
.main-container {
    background-color: pink; /* pink background for the form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.2); /* subtle shadow for depth */
    width: 350px; /* fixed width */
    text-align: center;
}

.Main{
text-align: center;
background-color: pink;
}


