body{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50vh;
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.username{
    flex-direction: column;
    
}
.Main-container{
    border: 1px solid green;
    text-align: center;
    width: 400px;
    padding: 50px;
    background-color: purple;
    
}
.username, .Email, .PhoneNumber{
    display: flex;
    flex-direction: column;


}
label{
    display: flex;
    flex-direction: column;
}


