body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 75px; 
    background-image: url(https://t4.ftcdn.net/jpg/05/12/64/51/360_F_512645152_VJUHBFUzLXp0qApk5qf08m6CNmb49c3O.jpg);
 }

 .Main-Container{

    background-color: white;
    border-radius: 5px;
    box-shadow: 4px blue;
    width: 350px;
    padding: 100px;
    height: 250px; 
    text-align: center;
    margin-left: 100px;

 }
   .Main-Container{

     background-color: aqua;
     border-radius: 20px;
     box-shadow: 4px blue;
     width: 350px;
     padding: 100px;
     height: 250px; 
     text-align: center;
     margin-left: 100px;

   }

 

 button{
    background-color: darkgreen;
    bott
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 75px;
    height: 25px;
    text-size-adjust: 10px;
} 
 

}